.o-header2{
	background-color:#202023;
	font-family:"Microsoft Yahei";
	position:fixed;
	top:0;
	left:0;
	width:100%;
	z-index:1001;
	box-shadow:0 2px 8px 0 rgba(1,1,1,0.5);
}
.o-header2_inner{
	width:1200px;
	height:50px;
	margin:0 auto;
}
.o-header_logo{
	width:80px;
	height:50px;
	float:left;
}
.o-header_logo img{
	display:block;
	overflow:hidden;
	height:48px;
	width:200%;
	margin-top:2px;
	margin-left:-100px;
}
img{
	height:auto;
	vertical-align:middle;
}
.o-header2_nav{
	float:right;
}
.o-header2_nav div{
	float:left;
}
.o-header2_nav a:link{
	text-decoration:none;
}
.o-header2_nav a:hover{
	color:red;
}
.o-header2_nav .item{
	display:block;
	height:50px;
	line-height:50px;
	float:left;
	text-align:center;
	padding:0 25px;
	color:#d7d7d7;
	font-size:14px;
}
.o-header2_nav .user{
	position:relative;
}
.o-header2_nav .user a{
	color:blue;
}

.login{
    margin-top:15px;
    font-size:12px;
    float:left;
    
}

.title{
	width: 100%;
	height: 100px;
	position: absolute;
	z-index: 1000;
    color: white;
    margin-left: 25px;
    /* margin-top: 15px; */
    
}
.title ul{;
	list-style: none;
}
.title ul li{
	float: left;
	margin-left: 10px;
	padding: 5px 5px 5px 5px;
	font-size: 15px;
}
.title ul li a{
	color: #000000;
	text-decoration: none;
}
.title ul li a:hover{
	color: red;
}
.home_ul{
	position: absolute;
	display: none;
	background-color:#f0f0f0;
	color: black;
	padding-left: 10px;
}
.title .home_ul li{
	float: none;
}
.title ul li:hover .home_ul{
	display: block;
}
.bg{
	width: 100%;
	height: 700px;
	background-image: url(../img/about_us_title_bg.jpg);
	background-repeat: no-repeat;
}
.left-login{
	flot:left;
	margin-right:180px;
}
.left-login .title .home_ul li{
	margin:0 auto;
}

.page{
	margin-top:50px;
}
.t-left{
	width:100px;
	height:800px;
	background:#202023;
	float:left;
}
.t-left h3{
	color:#d7d7d7;
	padding-left:12px;
}
.t-left ul{
	list-style-type:none;
	line-height:40px;
	font-size:20px;
	padding-left:30px;
}
.t-left a{
	color:#d7d7d7;
}
.t-left a:link{
	text-decoration:none;
}
.t-left a:hover{
	color:red;
}
.t-right .t-train{
	float:left;
}
.t-right .t-train ul{
	width:300px;
	height:260px;
	background-color:#f0f0f0;
	margin-left:20px;
	margin-top:20px;
	float:left;
	list-style-type:none;
	line-height:30px;
	padding-top:15px;
}
.t-right .t-train ul a:link{
	text-decoration:none;
}
.t-right .t-train .trainImg img{
	width:120px;
	height:100px;
	
}
.t-right .t-train li a:hover{
	color:red;
}
.t-left .d-return{
	color:#d7d7d7;
	margin-left:40px;
}
.d-right{
	width:650px;
	height:650px;
	background-color:#f0f0f0;
	margin-left:20px;
	margin-top:20px;
	float:left;
	line-height:30px;
	padding-top:30px;
	padding-left:60px;
}
.o-hiyd-footer{
	background:#2b2b2e;
	padding:26px 0;
	min-width:1200px;
	clear:left;
}
.o-footer-row{
	color:#666;
	font-size:12px;
	line-height:24px;
	text-align:center;
	width:1200px;
	margin:0 auto;
}
.o-footer-row a,.o-footer-row span{
	color:#666;
	font-size:12px;
	margin:0 10px 0 8px;
	display:inline-block;
	display:inline;
	zoom:1;
}
.d-right img{
	width:300px;
	height:200px;
}
.d-right .coachimg img{
	width:100px;
	height:100px;
}

.page{
	height:100%;
	margin-top:50px;
}
.a-act{
	width:400px;
	height:350px;
	background-color:#f0f0f0;
	margin-left:20px;
	margin-top:20px;
	float:left;
	list-style-type:none;
	line-height:30px;
	padding-top:15px;
}
.a-act ul li{
	float:left;
	list-style-type:none;
}
.a-act .a-img img{
	width:140px;
	height:120px;
}
.a-act span{
	padding-left:30px;
}

