#icon{
	width:100px;
	height:100px;
	border-radius:50%;
}

body{
	 background-image: url(/imgs/jsbj.jpg);    
     background-size:cover;
}
h1{
	font-family:"宋体";
	font-weight:normal;
}
h4{
	position:absolute;
    top:6%;
    left:35%;
}

.t1{
	top:25%;
    left:56%;
}

.table{
    font-family:"微软雅黑";
	background-color:#F0F0F0;
	height:1025px;
	width:550px;
	text-align:center;
	boder:1px #008800 solid;
	position:absolute;
    top:25%;
    left:46%;
    margin:-150px 0 0 -200px;
    background-color:rgba(255,255,255,0.45);
}

#ImportHead{
    font-family:"微软雅黑";
	background-color:#F0F0F0;
	height:400px;
	width:550px;
	text-align:center;
	boder:1px #008800 solid;
	position:absolute;
    top:90%;
    left:46%;
    margin:-150px 0 0 -200px;
    background-color:rgba(255,255,255,0.35);
}
 