<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fit.mapper.PowerMapper">
	<resultMap id="BaseResultMap"
		type="com.fit.domain.Power">
		<id column="power_id" jdbcType="INTEGER" property="powerId" />
		<result column="power_name" jdbcType="VARCHAR"
			property="powerName" />
	</resultMap>

	<!-- // 通过powerId查找power Power findById(Integer powerId); -->
	<select id="findById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select * from power
		where
		power_id = #{powerId}
	</select>
</mapper>